* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #ded9d9;
}

.container {
  background: rgb(89, 94, 222);
  background: linear-gradient(0deg, rgba(89, 94, 222, 1) 30%, rgba(61, 64, 157, 1) 50%, rgba(33, 34, 90, 1) 78%);
  margin: auto;

  width: 800px;

  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.cabecalho {
  border-radius: 10px;
  text-align: center;
  margin: 25px;

}

h1 {
  color: #ffd000;
  font-size: xx-large;
  padding: 5px;
  text-align: center;
}

.subtitulo {
  margin-top: 10px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subtitulo-2 {
  font-size: 25px;
  text-align: center;
}

.cadastro {
  background: rgb(33, 34, 90);
  background: linear-gradient(0deg, rgba(33, 34, 90, 1) 30%, rgba(61, 64, 157, 1) 50%, rgba(89, 94, 222, 1) 78%);

  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.votacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  background-color: #eae8e8;
  border-radius: 5px;
  border: none;
  padding: 4px;
  width: 70%;
  margin: 10px;
}

input:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(50, 42, 175, 1);
}

.enquete {
  background: rgb(16, 180, 203);
  background: linear-gradient(0deg, rgba(16, 180, 203, 1) 30%, rgba(11, 128, 189, 1) 70%);
  border: 10px solid rgba(11, 128, 189, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-color: rgb(3, 112, 196);
  padding: 20px;
  margin: 20px;
  width: 40%;
}

button {
  background: rgba(50, 42, 175, 1);
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 60%;
  margin: 10px;
  color: #ffffff;
  font-size: 15px;
}

button:hover {
  background-color: rgba(89, 94, 222, 1);
  transition: 0.5s;
}