* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #ded9d9;
}

.container {
  background: rgb(89,94,222);
background: linear-gradient(0deg, rgba(89,94,222,1) 30%, rgba(61,64,157,1) 50%, rgba(33,34,90,1) 78%);
  margin: auto;

  width: 800px;

  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.cabecalho {
  padding: 10px 40px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #ffd000;
  font-size: xx-large;
  margin-bottom: 20px;
  text-align: center;
}

.subtitulo {
  margin-top: 10px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cadastro {
  background: rgb(33,34,90);
background: linear-gradient(0deg, rgba(33,34,90,1) 30%, rgba(61,64,157,1) 50%, rgba(89,94,222,1) 78%);

  padding: 20px 40px;
  border-radius: 10px;
}

.votacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  background-color: #d8d5d5;
  border-radius: 5px;
  border: none;
  padding: 4px;
  width: 90%;
  margin: 10px;
}

input:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(50, 42, 175, 1);
}

.enquete {
  background: rgb(16, 180, 203);
  background: linear-gradient(0deg, rgba(16, 180, 203, 1) 30%, rgba(11, 128, 189, 1) 70%);
  border: 10px solid rgba(11, 128, 189, 1);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-color: rgba(3, 122, 216, 1);
  padding: 40px;
  margin: 10px;
}