* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #ded9d9;
}

.container {
  background: rgb(50, 42, 175);
  background: linear-gradient(0deg, rgba(50, 42, 175, 1) 30%, rgba(29, 10, 135, 1) 70%);
  margin: auto;

  width: 800px;

  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.cabecalho {
  padding: 10px 40px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #ffd000;
  font-size: xx-large;
  margin-bottom: 20px;
  text-align: center;
}

.subtitulo{
  margin-top: 10px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.cadastro {
  background: rgb(29, 10, 135);
  background: linear-gradient(0deg, rgba(29, 10, 135, 1) 30%, rgba(50, 42, 175, 1) 70%);

  padding: 20px 40px;
  border-radius: 10px;
}

.votacao{
  display: flex;
  flex-direction: row;
}

input{
  background-color: #efeaea;
  border-radius: 5px;
  border:none;
  padding: 4px;
  width: 90%;
  margin: 10px; 
}

input:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

input:focus{
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(50, 42, 175, 1);
}

.enquete {
  background: rgb(113, 183, 234);
  background: linear-gradient(0deg, rgba(113, 183, 234, 1) 6%, rgba(3, 122, 216, 1) 60%);
  
  
  border: 10px;
  border-radius: 10px;
  border-color: rgba(3, 122, 216, 1);
  padding: 40px;
  margin: 10px;
}